body, main, html {
    background: #704fb8;
    width: auto;
    padding: 0;
    margin: 0;
}
header {
    background: #704fb8;
    width: 100%;
}
footer {
    background: #402ae8;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}
a {
    color: #2488a3;
    text-decoration: none;
    text-shadow: 0 0 5px black;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: fantasy;
    text-shadow: 0 0 5px black;
    color: #2488a3;
}
h2 {
    text-shadow: 0 0 5px blue;
    font-size: 30px;
    color: paleturquoise;
    font-family: "Arial Black", Gadget, sans-serif;
}
p {
    padding-bottom: 0;
    text-shadow: black 0 0 5px;
    font-size: 15px;
    color: White;
    font-family: "Arial Black", Gadget, sans-serif;
}

nav {
    background-color: #402ae8;
    font-size: 25px;
    display: flex;
    justify-content: space-around;

}
.neon {
    display: flex;
    justify-content: space-around;
    color: red;
    text-shadow:
            0 0 10px darkred;
    font-size: 90px;
    font-family: "Arial Black", Gadget, sans-serif;
}

h4 {
    color: black;
    font-size: 20px;

}
.text {
    color: #f34a4a;
    font-size: 90px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    padding: 15px;
    font-family: fantasy;
    border-style: none;
}
.right {
    float: right;
}
article {
    padding: 0 20px;
}
.par {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 30px;
    text-shadow: 0 0 15px blue;
    color: paleturquoise;
    font-family: "Arial Black", Gadget, sans-serif;
}
.abonements {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.abon {
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    margin: 10px;
    border: 5px solid darkslateblue;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
}
.bord {
    display: flex;
    justify-content: center;
    background: #402ae8;
}
.picture{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}
.price {
    display: flex;
    justify-content: center;
    background: #402ae8;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0 10px;

}
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}